
<h1>User Info</h1>
<!-- ユーザーの詳細 -->
<div>
  <%= image_tag @user.get_profile_image("100x100") %>
      <h3><%= @user.name %></h3>
      <h3><%= @user.introduction %></h3>
  <% if @user == current_user %>
    <%= link_to edit_user_path(@user), class: "btn btn-danger" do %>
         <i class="fas fa-user-cog "></i>
       <% end %>
       <% end %>
</div>



<h1>New Book</h1>
<% if @book.errors.any? %>
  <%= @book.errors.count %>件のエラーが発生しました
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

  <%= form_with model: @book, local:true do |f| %>
    <h4>title</h4>
      <%= f.text_field :name %>
    <h4>opinion</h4>
      <%= f.text_area :introduction %><br>
    <h4></h4>
    <%= f.submit "Create Book" %>

  <% end %>

  <% if @book.user == current_user %>
    <%= link_to "削除", book_path(@book), method: :delete %>
  <% end %>
</div>

<h1>Book detail</h1>
<% @books.each do |book| %>
<div>
  <%= link_to book_path(book.user_id) do %>
   <p><%= image_tag book.user.get_profile_image("100x100") %></p>
  <% end %>

  <p><%= book.title%></p>
  <p><%= book.body %></p>
</div>
<% end %>