
<div>
  <p><%= image_tag @book.user.get_profile_image("100x100") %></p>
  <p><%= link_to "#{@book.title}",book_path(@book.id) %></p>
  <p><%= @book.body %></p>

  <% if @book.user == current_user %>
    <%= link_to "edit", edit_book_path(@book.id), method: :get %>
    <%= link_to "destroy", books_path(@book.id), method: :delete, data: {confirm: "削除しますか？"} %>
  <% end %>
</div>

<h1>User Info</h1>
<!-- ユーザーの詳細 -->
<div>
  <%= image_tag @book.user.get_profile_image("100x100") %>
      <h3><%= @book.user.name %></h3>
      <h3><%= @book.user.introduction %></h3>
  <% if @book.user == current_user %>
      <p><%= link_to "プロフィール編集", edit_user_path(current_user) %></p>
   <% end %>

</div>

 <%= form_with model: @new_book, local:true do |f| %>
    <h4>title</h4>
      <%= f.text_field :title %>
    <h4>body</h4>
      <%= f.text_area :body %><br>
    <h4></h4>
    <%= f.submit "Create Book" %>

  <% end %>

